<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>FYSJ</string>
	<string>XJZT</string>
	<string>YPMC</string>
	<string>YPDW</string>
	<string>CLQK</string>
	<string>ZLXG</string>
	<string>BY</string>
</array>
</plist>
