<app version = "1.0">
    <modules>
        <!--<module id = "KHPF" name = "客户拜访" type = "dir" image= "clients" hide = "no"> -->
            <module id = "BFJH" name = "拜访计划" type = "default" image = "visitPlanning">
                <pages infiniteSwipe = "yes" swipeEnabled = "yes" selectedIndex = "2">
                    <page title = "拜访信息">
                        <section title = "拜访计划">
                            <row tag = "BFJHBM" title= "拜访计划编码" type = "text" regx = "" defaultValue = "CAP201410080002" disable = "yes"/>
                        </section>
                        <section title = "拜访">
                            <row tag = "BFMD" title= "目的" type = "selectorAlertView" plist = "dictname"/>
                            <row tag = "BFRQ" title= "日期" type = "date"/>
                            <row tag = "BFYS" title= "预算" type = "decimal"/>
                            <row tag = "BFFS" title= "方式" type = "selectorPush" plist = "dictname"/>
                        </section>
                        <section title = "客户信息">
                            <row tag = "DYKH" title= "对应客户" type = "text" />
                            <row tag = "DYSJ" title= "对应商机" type = "text"/>
                            <row tag = "XGLXR" title= "相关联系人" type = "text"/>
                        </section>
                        <section title = "提醒">
                            <row tag = "SFTX" title= "是否提醒" type = "booleanSwitch"/>
                            <row tag = "ZT" title= "状态" type = "selectorAlertView" plist = "dictname"/>
                        </section>
                <!--        <section title = "拜访点评">
                            <row tag = "PFNR" title= "拜访内容" type = "textView"/>
                            <row tag = "selectorpush" title= "decimal" type = "decimal" plist = "selector" defaultValue = "1222"/>
                            <row tag = "selectorpush" title= "selectorPush" type = "selectorPush" plist = "dictname"/>
                            <row tag = "selectorActionSheet" title= "selectorActionSheet" type = "selectorActionSheet" plist = "dictname"/>
                            <row tag = "selectorAlertView" title= "selectorAlertView" type = "selectorAlertView" plist = "dictname"/>
                            <row tag = "selectorPickerView" title= "selectorPickerView" type = "selectorPickerView" plist = "dictname"/>
                            <row tag = "selectorPickerViewInline" title= "selectorPickerViewInline" type = "selectorPickerViewInline" plist = "dictname"/>
                            <row tag = "multipleSelector" title= "multipleSelector" type = "multipleSelector" plist = "dictname"/>
                            <row tag = "selectorSegmentedControl" title= "selectorSegmentedControl" type = "selectorSegmentedControl" plist = "dictname"/>
                            <row tag = "dateInline" title= "dateInline" type = "dateInline" plist = "dictname"/>
                            <row tag = "datetimeInline" title= "datetimeInline" type = "datetimeInline" plist = "dictname"/>
                            <row tag = "timeInline" title= "timeInline" type = "timeInline" plist = "dictname"/>
                            <row tag = "date" title= "date" type = "date" plist = "dictname"/>
                            <row tag = "datetime" title= "datetime" type = "datetime" plist = "dictname"/>
                            <row tag = "time" title= "time" type = "time" plist = "dictname"/>
                            
                        </section>
                        <section>
                            <row tag = "datePicker" title= "datePicker" type = "datePicker" plist = "dictname"/>
                            <row tag = "booleanCheck" title= "booleanCheck" type = "booleanCheck" plist = "dictname"/>
                            <row tag = "stepCounter" title= "stepCounter" type = "stepCounter" placeholder ="placeholder"/>
                        </section> -->
                    </page>
                    <page title = "拜访点评" show = "YES">
                        <section>
                            <row tag = "PFNR" title= "拜访内容" type = "textView"/>
                            <row tag = "BZ" title= "备注" type = "textView"/>
                            <row tag = "DP" title= "点评" type = "textView"/>
                        </section>
                    </page>
                    <page title = "拜访计划来源" show = "YES">
                        <section title = "创建者信息">
                            <row tag = "CJZ" title= "创建者" type = "text"/>
                            <row tag = "BZ" title= "创建者部门" type = "text"/>
                        </section>
                        <section title = "修改者信息">
                            <row tag = "ZHXGZ" title= "最后修改者" type = "text"/>
                            <row tag = "ZHXGBM" title= "最后修改部门" type = "text"/>
                        </section>
                        <section title = "审核人信息">
                            <row tag = "SHR" title= "审核人" type = "text"/>
                            <row tag = "SHRBM" title= "审核人部门" type = "text"/>
                        </section>
                        <section title = "时间">
                            <row tag = "CJSJ" title= "创建时间" type = "datetime"/>
                            <row tag = "XGSJ" title= "修改时间" type = "datetime"/>
                            <row tag = "SHSJ" title= "审核时间" type = "datetime"/>
                        </section>
                    </page>
                </pages>
            </module>
            <module name = "拜访记录" id = "BFJL" type = "default" image= "visitRecords">
                <pages>
                    <page title = "客户信息">
                        <section>
                            <row tag = "123" title= "row1" type = "text" placeholder ="placeholder" regx = ""/>
                            <row tag = "123" title= "row2" type = "text" placeholder ="placeholder"/>
                            <row tag = "123" title= "row3" type = "text" placeholder ="placeholder"/>
                            <row tag = "123" title= "row4" type = "text" placeholder ="placeholder"/>
                        </section>
                    </page>
                </pages>
            </module>
        <!--</module>-->
        <module name = "商机" id = "SJ" type = "default" image= "opportunity">
            <pages>
                <page title = "title">
                    <section>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder" regx = ""/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                    </section>
                </page>
                <page title = "测试">
                    <section>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder" regx = ""/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                    </section>
                </page>
            </pages>
        </module>
        <module id = "HTCX" name = "合同查询" type = "default" image= "contract">
            <pages>
                <page title = "title">
                    <section>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder" regx = ""/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                    </section>
                </page>
                <page title = "测试">
                    <section>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder" regx = ""/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                    </section>
                </page>
                <page title = "测试">
                    <section>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder" regx = ""/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                    </section>
                </page>
            </pages>
        </module>
        <module id = "XJSXQ" name = "技术需求" type = "default" image= "contact">
            <pages>
                <page title = "title">
                    <section>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder" regx = ""/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                    </section>
                </page>
                <page title = "测试">
                    <section>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder" regx = ""/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                    </section>
                </page>
            </pages>
        </module>
        <module id = "KHXX" name = "客户信息" type = "default" image= "clients" hide = "yes">
            <pages>
                <page title = "title">
                    <section>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder" regx = ""/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                    </section>
                </page>
                <page title = "测试">
                    <section>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder" regx = ""/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                        <row tag = "123" title= "title" type = "text" placeholder ="placeholder"/>
                    </section>
                </page>
            </pages>
        </module>
    </modules>
</app>